<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Item #</th>
      <th>Item Name</th>
      <th>Price</th>
      <th>Item Type</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>Hendrick Gin &amp; Tonic</td>
      <td>10.50</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>Ginger Mule</td>
      <td>9.50</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>Glass Camus Zin</td>
      <td>24.00</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>Titos Vodka Soda</td>
      <td>12.00</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>0</th>
      <td>5</td>
      <td>School Supplies</td>
      <td>24.99</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>6</td>
      <td>Chairs</td>
      <td>13.99</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2</th>
      <td>7</td>
      <td>Pencils</td>
      <td>1.99</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>3</th>
      <td>8</td>
      <td>Notebook</td>
      <td>4.99</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4</th>
      <td>9</td>
      <td>Cup</td>
      <td>6.00</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>5</th>
      <td>10</td>
      <td>Charger</td>
      <td>15.50</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>0</th>
      <td>11</td>
      <td>Orange Juice</td>
      <td>2.15</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>12</td>
      <td>Apples</td>
      <td>3.50</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2</th>
      <td>13</td>
      <td>Tomato</td>
      <td>2.40</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>3</th>
      <td>14</td>
      <td>Fish</td>
      <td>6.99</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4</th>
      <td>15</td>
      <td>Beef</td>
      <td>10.00</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>5</th>
      <td>16</td>
      <td>Onion</td>
      <td>1.25</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>6</th>
      <td>17</td>
      <td>Cheese</td>
      <td>3.40</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>