<!DOCTYPE html>
<html>
<head>
	<title>My Home Page</title>
	<link rel="stylesheet" href="homepage.css">
</head>
<body>
	<header class="header">
		<options class="options">
			<button class="options-btn" onclick="toggleOptions()">
				<img src="https://i.ibb.co/x7GVBHk/options.png" alt="Options" width="20" height="20">
			</button>
		</options>
		<h1>My Finances</h1>
	</header>

	<div class="options-bar" id="options-bar">
		<a class="help-btn" href = "settings.html">Settings</a>
		<a class="help-btn" href = "datachart.html">Budget</a>
		<a class="help-btn" href = "newpurchase.html">Add New Purchase</a>
	</div> 

	<h2>Total Balance</h2>

	<div class="container">
		<h1>Many Men</h1>
	</div>

	<h2>Recent Purchases</h2>

	<div class="container">
		<table border="1" width = 100% height = "150" bgcolor = E7F3EB>
			<tr>
				<th style="text-align: justify;">Item</th>
				<th style="text-align: justify;">Cost</th>
			</tr>
			<tr>
				<td style="text-align: justify;">Item 1</td>
				<td style="text-align: justify;">$10.00</td>
			</tr>
			<tr>
				<td style="text-align: justify;">Item 2</td>
				<td style="text-align: justify;">$15.00</td>
			</tr>
			<tr>
				<td style="text-align: justify;">Item 3</td>
				<td style="text-align: justify;">$20.00</td>
			</tr>
		</table>
	</div>

	<script>
		function toggleOptions() {
			var optionsBar = document.getElementById("options-bar");
			if (optionsBar.style.left !== "-300px")
				optionsBar.style.left = "-300px";
			else
				optionsBar.style.left = "0px"; 
		}
	</script>
</body>
</html>