<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Finance Login</title>
    <link rel="stylesheet" href="logintemplate.css">
  </head>
  <body>
    <h1>Finance Login</h1>
    <div class="container">
      <form action="process-login.php" method="post">
        <label for="username"><b>Enter Username or Email</b></label>
        <input type="text" placeholder="Enter Username or Email" name="username" required>

        <label for="password"><b>Enter Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>

        <button type="submit" formaction="home.html">Login</button>
      </form>
      <div class="text"></div>
        <span class="psw">
          <a href="createacc.html">Sign Up</a> &emsp; &emsp;
          <a href="forgotpass.html">Forgot password?</a>
        </span>
      </div>
    </div>
  </body>
</html>

