<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Finance Login</title>
    <link rel="stylesheet" href="logintemplate.css">
  </head>
  <body>
    <h1>Settings</h1>
    <div class="container">
      <div>
        <button type="button" onclick="changeUsername()">Change Username</button>
        <div id="username" style="display: none;">
          <div class="container">
            <input class="input" type="text" placeholder="Enter New Username" name="username" required>
            <input class="input" type="password" placeholder="Enter Current Password" name="password" required>
            <button type="submit" onclick= submit()>Submit Changes</button>
          </div>
        </div>

        <button type="button" onclick="changePassword()">Change Password</button>
        <div id="password" style="display: none;">
          <div class="container">
            <input class="input" type="password" placeholder="Enter New Password" name="password" required>
            <input class="input" type="password" placeholder="Enter Current Password" name="password" required>
            <button type="submit" onclick= submit()>Submit Changes</button>
          </div>
        </div>

        <button type="button" onclick="changeEmail()">Change Email</button>
        <div id="email" style="display: none;">
          <div class="container">
            <input class="input" type="text" placeholder="Enter New Email" name="email" required>
            <input class="input" type="password" placeholder="Enter Current Password" name="email" required>
            <button type="submit" onclick= submit()>Submit Changes</button>
          </div>
        </div>

        <button type="button" onclick="changeBudget()">Change Budget Amount</button>
        <div id="budget" style="display: none;">
          <div class="container">
            <input class="input" type="text" placeholder="Enter New Budget Amount" name="amount" required>
            <input class="input" type="text" placeholder="Enter Current Password" name="amount" required>
            <button type="submit"onclick= submit()>Submit Changes</button>
          </div>
        </div>

        <button type="button" onclick="window.location.href='home.html';">Go Back Home</a>
      </div>
    </div>

    <script>
        function changeUsername() {
            var tabContent = document.getElementById("username");
            if (tabContent.style.display == "block") {
              tabContent.style.display = "none";
            } else {
              tabContent.style.display = "block";
            }
        }
        function changePassword() {
          var tabContent = document.getElementById("password");
          if (tabContent.style.display == "block") {
            tabContent.style.display = "none";
          } else {
            tabContent.style.display = "block";
          }
        }
        function changeEmail() {
          var tabContent = document.getElementById("email");
          if (tabContent.style.display == "block") {
            tabContent.style.display = "none";
          } else {
            tabContent.style.display = "block";
          }
        }
        function changeEmail() {
          var tabContent = document.getElementById("email");
          if (tabContent.style.display == "block") {
            tabContent.style.display = "none";
          } else {
            tabContent.style.display = "block";
          }
        }
        function changeBudget() {
          var tabContent = document.getElementById("budget");
          if (tabContent.style.display == "block") {
            tabContent.style.display = "none";
          } else {
            tabContent.style.display = "block";
          }
        }
        function submit() {
          window.location = "login.html"
        }
    </script>
  </body>
</html>